.body-cart{
    margin-top: 150px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    border: solid rgb(224, 224, 224) 1px;
    border-radius: 15px;
    box-shadow:  0px 2px 10px 2px rgb(210, 210, 210);
}
.img-cart{
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.img-cart-body{
width: 200px;
}
.cart-name{
    width: 325px;
    
}
.name-product{
    margin: auto;
    text-align: center;
}
.cart-price{
    text-align: center;
}
.cart-quantity{
    text-align: center;
    width: 150px;
}
.input-cart{
    width: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cart-delete{
    text-align: center;
}
.cart-total h5{
    text-align: right;
    margin-right: 25px;
}
.btn-success{
    display: block;
    margin-left: auto;
    margin-bottom: 23px;
    margin-top: 15px;
    margin-right: 25px;
}