a{
    text-decoration: none;
}
.home-banner{
    padding-top: 140px;
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.icon-img{
    width: 3%;
    margin-top: -20px;
}
.title-1{
    margin-top: 50px;
}
.title-2{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    font-family: cursive;
    padding-top: 5px;
}

/*css loại sản phẩm*/
.img-category{
    border: solid rgb(226, 226, 226) 1px;
    border-radius: 45px;
    width: 196px;
    height: 196px;
}
.col-2{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 220px;
}
.title-category{
    padding-top: 10px;
    font-weight: 700;
    font-size: 18px;
    color: black;
}
.title-category:hover{
    color:#228B22 ;
}
.img-category:hover{
    width: 195px;
    height: 195px;
    border: solid rgb(148, 144, 144) 5px;
}


/*card*/
.card{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
    border-radius: 15px;
}
.col-card{
  padding-top: 15px;
   width: 21%;
}
.row-card{
    margin-left: 14%;
    margin-right: auto;
}
.card-img{
    
    width: 249px;
    height: 220px;
}
.card-img-top{
    width: 250px;
    height: 250px;
}
.card-name{
    width: 216px;
    height: 43px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card-price{
    color: red;
    display: inline;
}
.card-title{
    text-align: center;
    background-color: #4bc04b;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 175px;
    height: 23px;
    color: #0a3c0a;
    border-radius: 25px;
}

.card-sl{
    color: blue ;
}
.img-sale{
    width: 17%;
    margin-bottom: 14px;
    margin-right: 25px;
    
}
.btn-cart{
    display: block;   
    width: 216px;
    height: 38px;
    border-radius: 25px;
}
.btn-cart:hover{
    background-color: rgb(224, 19, 19);
    border: red;
    width: 216px;
    height: 38px;
}

